/* CSS Document */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #0d0d0d;
	color: #FFF;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-gap: 10px;
}

.square {
    width: 120px;
    height: 120px;
    text-align: center;
    border: 3px solid #ffcc00;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0d;
}

.square:hover {
    background-color: #e0e0e0;
}

button#resetbutton {
    margin-top: 500px; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffcc00;
    color: #0d0d0d;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button#resetbutton:hover {
    background-color: #e0e0e0;
}
